body{
    background-color: plum;
    text-align: left;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(rgb(255, 0, 179));
    padding: 30px;
    font-size: 30px;
    text-decoration: none;

}


.doritos {
    width: 25%;
    font-style: italic;
    color: hotpink;
}
